<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container mt-3">
        <div class="card bg-primary text-light">
            <div class="card-header text-center">
                <h4>Novo Artigo</h4>
            </div>
            <div class="card-body">
                <form action="/categories/save" method="POST">
                    <input required name="title" type="text" class="form-control mb-2" placeholder="Digite o título aqui"/>
                    <textarea name="body" id="article" class="form-control" cols="30" rows="10" placeholder="Escreva o contéudo aqui"></textarea>
                    <button class="btn btn-success mt-2">Publicar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>


