<%- include('../../partials/header.ejs') %>
<body id="top">
    <%- include('../../partials/navbar.ejs') %>
    <div class="container mt-3">
        <hr class="mb-5">
        <div class="card bg-secondary text-light mx-auto mb-5">
            <div class="card-header text-center">
                <h4>Cadastrar Categorias do Blog</h4>
            </div>
            <div class="card-body mb-5">
                <form action="/categories/save" method="POST">
                    <label for="title"><strong>Categoria</strong></label>
                    <input required name="title" id="title" type="text" class="form-control mb-2" placeholder="Título da Categoria" maxlength="30" minlength="3"/>
                    <button class="btn btn-success btn-block">Cadastrar</button>
                </form>
            </div>
        </div>
        <hr class="mt-5">
    </div>
    <%- include('../../partials/homefooter.ejs') %> 
</body>
<%- include('../../partials/footer.ejs') %>