<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog WeneDev</title>
    <meta name="author" content="Wene Alves" />
    <meta name="keywords" content="blogs,codó,noticias,wenedev,sites,ifma,post,maranhão,codo,timbiras,coroatá,blogs-de-codó,fala-codó,sites-codó,site,websites,loja-virtual,lojas,criar-sites" />
    <meta name="description" content="Este é blog de notícias de codó e todo o estado do maranhão." />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.tiny.cloud/1/9mnz6h5cpsdgikcl6gwml122winjxreiqmxmy82jxj9v1klp/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
</head>