<footer class="blog-footer footer mt-auto py-3">
  <p class="text-dark">Blog desenvolvido por <a href="https://www.agenciawebtech.com.br/" target="_blank" class="btn-link text-primary" >Wene Alves</a></p>
  <p> <a href="https://github.com/wenealves10" target="_blank" rel="noopener noreferrer"><img
        src="/images/icons/github.png" alt="github" title="github"></a>
    <a href="https://www.instagram.com/wn_allvess/" target="_blank" rel="noopener noreferrer"><img
        src="/images/icons/instagram.png" alt="instagram" title="instagram"></a>
    <a href="https://www.linkedin.com/in/wenealvesfullstack/" target="_blank" rel="noopener noreferrer"><img
        src="/images/icons/linkedin.png" alt="linkedin" title="linkedin"></a>
    <a href="https://www.facebook.com/wene.wenealves/" target="_blank" rel="noopener noreferrer"><img
        src="/images/icons/facebook.png" alt="facebook" title="facebook"></a>
  </p>
  <p id="ft">
    <a href="#top" class="btn btn-outline-primary">Voltar ao topo</a>
  </p>
</footer>