<footer class="blog-footer footer mt-auto py-3">
    <p class="text-dark">Blog desenvolvido por Wene Alves </p>
    <p>
      <a href="#top" class="btn-link text-dark">Voltar ao topo</a>
    </p>
</footer>

