<footer class="blog-footer" style="margin-top: 212px;">
    <p class="text-dark">Blog desenvolvido por Wene Alves </p>
    
    <p>
      <a href="#top" class="btn-link text-dark">Voltar ao topo</a>
    </p>
</footer>