version: '3'

services:
    db:
      image: mysql
      command: --default-authentication-plugin=mysql_native_password
      container_name: mysql-db
      environment:
        MYSQL_ROOT_PASSWORD: 04091605
        MYSQL_DATABASE: blog_wenedev
      volumes:
        - ./database/data:/var/lib/mysql
      restart: always
    
    adminer:
      image: adminer
      restart: always
      ports:
        - 8080:8080
    
    app:
      image: wns1601/app-blog
      ports:
        - 3000:3000
      volumes:
        - ./:/usr/app/
      restart: always
      depends_on:
        - db
    