<%- include('../partials/header.ejs') %>
<body id="top">
    <%- include('../partials/navbar.ejs') %>
    <div class="container mt-3">
       <h1>Criação de Usuários</h1>
    </div>
    <%- include('../partials/homefooter.ejs') %> 
</body>
<%- include('../partials/footer.ejs') %>