<%- include('../partials/header.ejs') %>
<body id="top">
    <%- include('../partials/navbar.ejs') %>
    <div class="container mt-3">
       <h2>Novo usuário</h2>
       <a href="#" class="btn btn-outline-info">Criar usuário</a>
       <hr>
    </div>
    <%- include('../partials/homefooter.ejs') %> 
</body>
<%- include('../partials/footer.ejs') %>